button.buy-with-crypto:hover, a.donate-with-crypto:hover {
    background:#6fa117;
    color:white !important;
}
button.buy-with-crypto, button.donate-with-crypto {
    user-select: none;
    text-decoration: none;
    background: rgb(38,121,9);
    background: linear-gradient(117deg, rgba(38,121,9,1) 0%, rgba(111,161,23,1) 35%, rgba(38,121,9,1) 100%);
    cursor: pointer;
    transition: background 0.2s ease-in-out, padding 0.2s;
    border-radius: 6px;
    display: inline-block;
    height: 40px;
        padding: 9px 15px 11px 15px;
    position: relative;
}
button.buy-with-crypto {
    min-width: 134px;
    color:white !important;
    background: rgb(38,121,9);
    font-size: 13px !important;
}
button.buy-with-crypto, button.donate-with-crypto, button.buy-with-crypto > span, button.donate-with-crypto > span, button.buy-with-crypto > div.spinner, button.donate-with-crypto > div.spinner, body > div.bwc-modal-container, body > div.bwc-modal-container > div.bwc-dimmer, body > div.bwc-modal-container > iframe.bwc-iframe {
    border: none;
    box-sizing: border-box;
    clear: none;
    clip: auto;
    float: none;
    height: auto;
    margin: 0;
    max-height: none;
    opacity: 1;
    text-shadow: none;
    vertical-align: baseline;
    visibility: visible;
    width: auto;
}
button:hover {
    color: #6fa117;
}
.m-t_menos9{
    margin-top:-9px;
}